/*цвет основного текста #757575  */
/*вторичный цвет текста #212121 */
/*белый #FFFFFF* /
/*акцент #2196F3* /
/*цвет инфо  rgba(255, 255, 255, 0.6)*/
/* вторичный цвет фона  #F5F4FA и #2F303A */

/* переменные */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --background-hero: #2f303a;
  --info-color: rgba(255, 255, 255, 0.6);
  --second-color: #f5f4fa;
  --background-color: #ffffff;
  /* --background-color: #e5e5e5; */
}

/*  Убираем маркеры */
ul {
  list-style: none;
}
/* Отменяем подчеркивание у ссылки */
a {
  text-decoration: none;
}
/* Отменяем подчеркивание при наведении у ссылки 
 a:hover {
   text-decoration: none; 
} */

/* body */
.page {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
}
/* --Шапка сайта--> */
/* логотип шапки */
.logo {
  color: var(--accent-color);
  font-family: Raleway, Arial;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo span {
  color: var(--title-text-color);
}
/*site-nav*/
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus,
.auth a:hover,
.auth a:focus,
.site-nav .link.current {
  color: var(--accent-color);
}

/*auth*/
.auth a {
  font-style: normal;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* секции */
/* Герой */
.hero-title {
  color: var(--primary-bg-color);
  background: var(--background-hero);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.section {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.section-title {
  color: var(--title-text-color);
  background-color: var(--background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.work .work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team {
  color: var(--primary-text-color);
  background: var(--second-color);
}
.our-team h2,
h3 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.team p {
  text-align: center;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* логотип подвала */
.navi {
  background: var(--background-hero);
}
.cell {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.cell-mail,
.cell-tel {
  font-style: normal;
  color: var(--info-color);
}
.cell-address {
  font-style: normal;
  color: var(--primary-bg-color);
}
/* лого подвала */
.logo-footer {
  font-family: Raleway, arial;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-footer span {
  color: var(--primary-bg-color);
}

/* button */
.button {
  color: var(--title-text-color);
  background: var(--second-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}
.button:hover,
.button:focus {
  color: var(--primary-bg-color);
  background: var(--accent-color);
}

.button-hero {
  color: var(--primary-bg-color);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Портфолио */

.partition h2 {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.partition p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
